@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 4 - 1rem * 4));
  }
}

.scrollContainer {
  display: flex;
  gap: 1rem;
  animation: scroll 30s linear infinite;
}

.scrollContainer:hover {
  animation-play-state: paused;
}

.wrapper {
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
